/*
---FLEX---
Instructions
All CSS declarations and media queries in this
file should strictly target the "flex" div
and its content in the layout.html file.

You're limited to the below stated:
--------------------------
Mandatory declaration
¤ display: flex;                            | Only flex
--------------------------
Permitted media queries
¤ @media screen and (min-width: 768px) {    |
¤ @media screen and (min-width: 1024px) {   |
--------------------------
Permitted properties
¤ display                                   | Only flex
¤ border-radius                             |
¤ flex-basis                                |
¤ flex-direction                            |
¤ flex-grow                                 |
¤ flex-wrap                                 |
¤ font-weight                               |
¤ gap                                       |
¤ justify-content                           |
¤ order                                     |
¤ place-content                             |
--------------------------

Student CSS below the line
-------------------------- */

.flex{
    display: flex;
    gap: 1rem;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-basis: calc((100% / 8 * 1rem) / 9);
    font-weight: bold;
}

@media screen and (min-width: 768px){
    .flex div:nth-child(n){
    }
    .flex div:nth-child(1){
        flex-basis: 15%;
    }
    .flex div:nth-child(2){
        flex-basis: 65%;
    }
    .flex div:nth-child(3){
        flex-basis: 15%;
    }
}
@media screen and (min-width: 1024px){
    .flex div:nth-child(n){
        flex-basis: calc((100% / 8 * 1rem) / 9);
    }
    .flex div:nth-child(1){
        flex-basis: 50%;
    }
    .flex div:nth-child(2){
        flex-basis: 39%;
    }
    .flex div:nth-child(3){
        flex-basis: 7%;
    }
}
